<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pet.name" class="form-control" id="name" placeholder="Pet Name"/>
    </div>
</div>
<div class="form-group">
    <label for="breed" class="col-sm-2 control-label">Breed</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pet.breed" class="form-control" id="breed" placeholder="Pet Breed"/>
    </div>
</div>
<div class="form-group">
    <label for="age" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pet.age" class="form-control" id="age" placeholder="Pet Age"/>
    </div>
</div>

<div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pet.price" class="form-control" id="price" placeholder="Pet Price"/>
    </div>
</div>

<div class="form-group">
    <label for="list_date" class="col-sm-2 control-label">List Date</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pet.list_date" class="form-control" id="list_date" placeholder="dd/mm/yyyy"/>
    </div>
</div>

<div class="form-group">
    <label for="sale_date" class="col-sm-2 control-label">Sale Date</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pet.sale_date" class="form-control" id="sale_date" placeholder="dd/mm/yyyy"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>